/* MAiN COLORS */
$PAYONE-BLUE: #0096d6;
$PAYONE-ACCENT: #c33a94;
$PAYONE-BLACK: #0d0d0d;
$PAYONE-WHITE: #ffffff;

/* SECONDARY COLORS */
$HELL-BLUE: #87cdec;
$MITTEL-BLUE: #0078ab;
$DUNKEL-BLUE: #005a80;

/* EXTENDED COLORS */
$GREY_100: #efefef;
$GREY_200: #e5e5e5;
$GREY_400: #999999;

/* SYSTEM COLORS */
$ERROR: #f50057;
$SUCCESS_1: #009688;
$SUCCESS_2: #4caf50;
$SUCCESS_3: #009688;
$INFO: #00bcd4;
