@font-face {
    font-family: 'Volte';
    src: url('assets/fonts/OpenType CFF Std/Volte-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'Volte-Italic';
    src: url('assets/fonts/OpenType CFF Std/Volte-MediumItalic.otf') format('opentype');
}

@font-face {
    font-family: 'Volte-Semibold';
    src: url('assets/fonts/OpenType CFF Std/Volte-Semibold.otf') format('opentype');
}

@font-face {
    font-family: 'Volte-Rounded-Semibold';
    src: url('assets/fonts/OpenType CFF/VolteRounded-Semibold.otf') format('opentype');
}
