@import '../../globals/styles/theme';

.validation-wrapper {
    font-family: 'Volte';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 0.02em;
    color: $ERROR;
}
